<div class="panel panel-white">
  <div class="panel-heading clearfix">
    <h4 class="panel-title">
      Harmonogram - wersja miesięczna testowa
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-left: 20px">
          Generuj PDF 
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <%= link_to schedule_m_path(from: @from_m, to: @to_m) do %>
              Ten okres 
              (<%= (@now - 2.months).beginning_of_month.strftime("%d-%m") %>
               - <%= (@now + 2.months).beginning_of_month.strftime("%d-%m") %>)
            <% end %>
          </li>
        </ul>
      </div>
    </h4>
  </div>
  <div class="panel-body">
    <table class="schedule-table-big" style="">
      <thead>
        <tr>
          <th colspan="<%= @step_m %>"></th>
          <% (@from_m..@to_m).each do |i| %>
            <% if (@now + i.days).mday == 1 || i == @from_m %>
              <th class="<%= i == 0 ? 'now' : '' %>" style="" colspan=<%= i == @from_m ? (@now + i.days).end_of_month.mday - (@now + i.days).mday : (@now + i.days).end_of_month.mday %> >
                <div class="text-left">
                  <%#= wday_local @now.wday + i %><br>
                  <small> <%= mday_local (@now + i.days).month %></small>
                </div>
              </th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <thead>
        <tr>
          <th colspan="<%= @step_m %>"></th>
          <% (@from_m..@to_m).each do |i| %>
            <% if wday_local(@now.wday + i) == 'Pon' %>
              <th class="<%= i == 0 ? 'now' : '' %>" style="<%= (wday_bgcolor @now.wday + i) %>" colspan=7>
                <div class="text-left">
                  <%#= wday_local @now.wday + i %><br>
                  <small> <%= (@now + i.days).strftime("%d-%m") %></small>
                </div>
              </th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% groups.each do |(name, value)| %>
          <tr>
            <th colspan="<%= @step_m %>">
              <%= link_to value[:orders][0].name, item_group_path(value[:id]) %><br>
              <small style="top: -7px; position: relative;"><%= value[:orders][0].owner %> </small>
            </th>
            <% (@from_m..@to_m).each do |i| %>
              <td class="<%= i == 0 ? 'now-m' : '' %> hover" style="vertical-align: top; <%= (wday_bgcolor @now.wday + i) %>" 
                data-toggle="tooltip" data-placement="top" title="<%= (@now + i.days).strftime("%d-%m")%>">

                  <% if value[:orders].map{|q| q.date_from}.min.beginning_of_day <= (@now.utc + i.days).beginning_of_day && value[:orders].map{|q| q.date_to}.max.beginning_of_day >= (@now.utc + i.days).beginning_of_day %>
                    <div class="progress" style="height: 25px; margin: auto; margin-top: 1px;">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; line-height: inherit; font-size: 10px; background-color: <%= progressbar_color(value[:orders][0]) %>;">


                      </div>
                    </div>
                  <% else %>
                    
                  <% end %>

              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>