<div class="panel panel-white">
  <div class="panel-heading clearfix">
    <h4 class="panel-title">
      Harmonogram 
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-left: 20px">
          Generuj PDF 
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <%= link_to schedule_path(from: -7, to: 0) do %>
              Poprzedni tydzień 
              (<%= (Time.now - 7.days - Time.now.wday.days + 1.days).strftime("%d-%m") %>
               - <%= (Time.now + 0.days - Time.now.wday.days).strftime("%d-%m") %>)
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to schedule_path(from: 0, to: 7) do %>
              Obecny tydzień 
              (<%= (Time.now - Time.now.wday.days + 1.days).strftime("%d-%m") %>
               - <%= (Time.now + 7.days - Time.now.wday.days).strftime("%d-%m") %>)
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to schedule_path(from: 7, to: 14) do %>
              Następny tydzień 
              (<%= (Time.now + 7.days- Time.now.wday.days + 1.days).strftime("%d-%m") %>
               - <%= (Time.now + 14.days - Time.now.wday.days).strftime("%d-%m") %>)
            <% end %>
          </li>
          <li>
            <%= link_to schedule_path(from: 14, to: 21) do %>
              Za 2 tygodnie 
              (<%= (Time.now + 14.days- Time.now.wday.days + 1.days).strftime("%d-%m") %>
               - <%= (Time.now + 21.days - Time.now.wday.days).strftime("%d-%m") %>)
            <% end %>
          </li>
          <li>
            <%= link_to schedule_path(from: 21, to: 28) do %>
              Za 3 tygodnie 
              (<%= (Time.now + 21.days- Time.now.wday.days + 1.days).strftime("%d-%m") %>
               - <%= (Time.now + 28.days - Time.now.wday.days).strftime("%d-%m") %>)
            <% end %>
          </li>
        </ul>
      </div>
    </h4>
      
  </div>
  <div class="panel-body">
    <table class="schedule-table" style="">
      <thead>
        <tr>
          <th></th>
          <% (-2..5).each do |i| %>
          <th class="<%= i == 0 ? 'now' : '' %>">
            <div class="text-center">
              <%= wday_local Time.now.wday + i %><br>
              <small> <%= (Time.now + i.days).strftime("%d-%m") %></small>
            </div>
          </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% groups.each do |(name, value)| %>
          <tr>
            <th>
              <%= link_to value[:orders][0].name, item_group_path(value[:id]) %>
            </th>
            <% (-2..5).each do |i| %>
              <td class="<%= i == 0 ? 'now' : '' %>" style="vertical-align: top;">
                <% value[:orders].each do |order| %>
                  <% if order.date_from.beginning_of_day <= (Time.now.utc + i.days).beginning_of_day && order.date_to.beginning_of_day >= (Time.now.utc + i.days).beginning_of_day %>
                    <div class="progress <%= bar_helper(order, i)%>" style="height: 40px; margin: auto; margin-top: 1px;">
                      <div class="progress-bar <%= bar_color(order, i) %>" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; line-height: inherit; font-size: 10px;">
                        <div class="text-center" style="float: left; width: 40px; line-height: 18px; border-right: 1px solid rgba(0,0,0,0.1); padding-left: 3px;">
                          <% if order.date_from.mday == (Time.now + i.days).mday && order.date_to.mday == (Time.now + i.days).mday %>
                            <%= order.date_from.strftime("%H:%M") %><br><%= order.date_to.strftime("%H:%M") %>
                          <% elsif order.date_from.mday == (Time.now + i.days).mday %>
                            <%= order.date_from.strftime("%H:%M") %><br><i class="fa fa-minus" aria-hidden="true"></i>
                          <% elsif order.date_to.mday == (Time.now + i.days).mday %>
                            <i class="fa fa-minus" aria-hidden="true"></i><br><%= order.date_to.strftime("%H:%M") %>
                          <% else %>
                            <i class="fa fa-minus" aria-hidden="true"></i><br><i class="fa fa-minus" aria-hidden="true"></i><!-- <i class="fa fa-minus" aria-hidden="true"></i> -->
                          <% end %>
                        </div>
                        <div class="text-left" style="margin-left: 45px; line-height: 18px; padding-left: 3px; font-weight: 100;white-space: nowrap;flex-wrap: nowrap;">
                          <%= value[:orders][0].name %><br><%= order.owner %>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="progress <%= bar_helper(order, i)%>" style="height: 40px; margin: auto; margin-top: 1px;">
                      <div class="progress-bar progress-bar-dummy <%= i == 0 ? 'now' : '' %>" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; line-height: inherit; font-size: inherit;">
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>