<style>
  .now {background-color: #f6f6f6 !important;}
  .now-m {background-color: #eee !important;}
  .hover:hover{
    background-color: #ddd !important;
  }
  .schedule-table tbody tr td { padding: 5px 0px; }
  .schedule-table {table-layout: fixed; width: 100%;}
  
  .schedule-table tbody tr td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .schedule-table tbody tr th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .schedule-table thead tr th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .bar-start { margin-left: 20px !important; }
  .bar-end { margin-right: 20px !important; }
  .progress-bar-dummy { background-color: rgba(255, 255, 255, 255) }

  .schedule-table-big tbody tr td { padding: 5px 0px; }
  .schedule-table-big {table-layout: fixed; width: 100%;}
  
  .schedule-table-big tbody tr td {
    border-bottom: 1px solid #ddd;
    border-right: 0px solid #ddd;
  }
  .schedule-table-big tbody tr th {
    min-width:300px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .schedule-table-big thead tr th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  </style>

<div class="page-inner">
  <div class="page-title">
      <h3 class="breadcrumb-header">Tablica</h3>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <%= render 'schedule', groups: @groups %>
      </div>
    </div><!-- Row -->
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <%= render 'schedule_month', groups: @groups %>
      </div>
    </div><!-- Row -->
  </div>

</div>
<script>
$('#reveal-items').on('click', function(){
  $(this).slideUp()
  $('.item-list').slideDown();
})
$('#reveal-orders').on('click', function(){
  $(this).slideUp()
  $('.order-list').slideDown();
})
</script>