<style>
  .bootstrap-tagsinput input {
    width: 95% !important;
  }
  table tr td {
    padding: 5px;
  }

  .item {
    margin: 2px;
  }

  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

  .card-face {
    position: fixed;
    backface-visibility: hidden;
  }

  .card-back {
    transform: rotateY(180deg);
    left: -3px;
  }

  .card-front {
  }
</style>
<div class="page-inner">
  <div class="page-title">
    <h3 class="breadcrumb-header">Zdaj sprzęt</h3>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <%= bootstrap_form_for(Item.new) do |f| %>
          <div id="focus-id">
            <%= f.text_field :ean, label: nil, hide_label: true, 'data-role' => 'tagsinput' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-white">
          <div class='panel-heading'>
            <h4 class='panel-title'>Sprzęt zdany</h4>
          </div>
          <div class="panel-body">
            <div class="row items-container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

    // fucus input even if lost
    setTimeout(function () {
        $('input:text')[1].focus();
        $('#focus-id').on('focusout', function () {
            $('input:text')[1].focus();
        })
    }, 500);

    $('input:text').on('itemAdded', function (event) {
        // event.item: contains the item

        $.get('/ajax?back=1&ean=' + event.item, function (data) {
            if (data.length > 100) {
                $('.items-container').append(data)
                toastr.success('Zwrócono przedmiot', 'Sukces');
            } else {
                toastr.error('Przedmiot nie dostępny', 'Błąd');
            }
        })


        // remove removal from tags input
        $('span[data-role=remove]').hide()
    });
</script>