<style>
  .now { }
  .schedule-table-big tbody tr td { padding: 5px 0px; }
  .schedule-table-big {table-layout: fixed; width: 100%; border-collapse: collapse;}
  
  .schedule-table-big tbody tr td {
    border-bottom: 1px solid #ddd;
    border-right: 0px solid transparent;
  }
  .schedule-table-big tbody tr th {
    min-width:300px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .schedule-table-big thead tr th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .bar-start { margin-left: 20px !important; }
  .bar-end { margin-right: 20px !important; }
  .progress-bar-dummy { background-color: transparent; border: 0px !important; }
  thead { display: table-header-group }
  tfoot { display: table-row-group }
  tr { page-break-inside: avoid }
  .progress-bar {text-overflow: clip; white-space: nowrap; overflow: hidden;}
</style>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="panel panel-white">
      <div class="panel-body">
        <table class="schedule-table-big" style="">
          <thead>
            <tr>
              <th colspan="<%= @step %>" rowspan=2 style="width:180px;"><p style="text-align: center; color: #0070E0 !important"><b>HARMONOGIO</b></p></th>
              <% (@from..@to).each do |i| %>
                <% if (@now + i.days).mday == 1 || i == @from %>
                  <th class="<%= i == 0 ? 'now' : '' %>" style="" colspan=<%= i == @from ? (@now + i.days).end_of_month.mday - (@now + i.days).mday : (@now + i.days).end_of_month.mday %> >
                    <div class="text-left">
                      <%#= wday_local @now.wday + i %><br>
                      <small> <%= mday_local (@now + i.days).month %></small>
                    </div>
                  </th>
                <% end %>
              <% end %>
            </tr>
          </thead>
          <thead>
            <tr>
              <th colspan="<%= @step %>"></th>
              <% (@from..@to).each do |i| %>
                <% if wday_local(@now.wday + i) == 'Pon' %>
                  <th class="<%= i == 0 ? 'now' : '' %>" style="<%= (wday_bgcolor @now.wday + i) %>" colspan=7 width="30">
                    <div class="text-left">
                      <%#= wday_local @now.wday + i %><br>
                      <small> <%= (@now + i.days).strftime("%d-%m") %></small>
                    </div>
                  </th>
                <% end %>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |(name, value)| %>
              <tr>
                <th colspan="<%= @step %>">
                  <pre><%= value[:orders][0].name %></pre>
                  <small style="top: -10px; position: relative; white-space: nowrap; font-weight: 100; line-height: 1px;"><%= value[:orders][0].owner %> </small>
                </th>
                <% (@from..@to).each do |i| %>
                  <td class="<%= i == 0 ? 'now-m' : '' %> hover" style="vertical-align: top; <%= (wday_bgcolor @now.wday + i) %>" >

                      <% if value[:orders].map{|q| q.date_from}.min.beginning_of_day <= (@now.utc + i.days).beginning_of_day && value[:orders].map{|q| q.date_to}.max.beginning_of_day >= (@now.utc + i.days).beginning_of_day %>
                        <div class="progress" style="height: 25px; margin: 0px; margin-top: 1px;">
                          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; line-height: inherit; font-size: 10px; background-color: <%= progressbar_color(value[:orders][0]) %>;">
                            &nbsp;

                          </div>
                        </div>
                      <% else %>
                        
                      <% end %>

                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><!-- Row -->