<%= bootstrap_form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">

    <div class="col-md-6">
      <%= f.text_field :name, label: 'Nazwa' %>
    </div>

    <div class="col-md-6">
      <%= f.text_field :number, label: 'Numer' %>
    </div>

  </div>
  <div class="row">

    <div class="col-md-6">
      <%= f.text_field :owner, label: 'Wypożyczający' %>
    </div>

    <div class="col-md-6">
      <%= f.text_field :manager, label: 'Kierownik produkcji' %>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">

      <div class="form-group">
        <label>Data od</label>
        <div class='input-group date' id='datetimepicker1'>
          <input type='text' name="order[date_from]" class="form-control" value="<%= params[:order][:date_from] rescue "" %>" />
          <span class="input-group-addon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="form-group">
        <label>Data do</label>
        <div class='input-group date' id='datetimepicker2'>
          <input type='text' name="order[date_to]" class="form-control" value="<%= params[:order][:date_to] rescue "" %>" />
          <span class="input-group-addon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </div>
      </div>

    </div>
  </div>


  <%= f.text_area :description, label: 'Uwagi' %>

  <div class="actions">
    <%= f.submit 'Zapisz', class: 'btn btn-success' %>
    <%= link_to 'Wróć', items_path, class: 'btn btn-default' %>
  </div>
<% end %>
<script>
    $(document).ready(function(){
        $('.chosen-select').chosen();
    });
        $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker();
        });

</script>