<div class="page-inner">
  <div class="page-title">
    <h3 class="breadcrumb-header">Edytuj zlecenie</h3>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <%= render 'form', order: @order %>
      </div>
    </div>
  </div>
</div>