<div class="page-inner">
  <div class="page-title">
    <h3 class="breadcrumb-header">Zlecenia</h3> 
    <% if params[:back] %>
      <%= link_to 'Zdaj sprzęt bez zlecenia', order_path(1, back: true), class: 'btn btn-info' %>
    <% end %>
  </div>
  <div id="main-wrapper">
    <div class="row">
      <div class="col-lg-12">

        <br>
        <div class="form-group">
          <label for="item_name">Nazwa</label>
          <%= form_for Order.new, url: orders_panel_path, method: :get do |f| %>
            <input class="form-control" type="text" name="order[number]" onkeyup="filterInput()" placeholder="Filtruj.." id="filter-input">
            <% if params[:back] %>
              <input type="hidden" name="order[back]" value="<%=params[:back]%>">
            <% end %>
          <% end %>
        </div>
        <table class='responsive table table-sm' id='dttb-items'>
          <thead>
          <tr>
            <th>Nazwa</th>
            <th>Numer</th>
            <th>Wypożyczający</th>
            <th>Kierownik produkcji</th>
            <th>Data od</th>
            <th>Data do</th>
            <th>Uwagi</th>
            <th>Operacje</th>
            <th>Status</th>
          </tr>
          </thead>

          <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to order_path(order, back: params[:back]) do %>
                  <%= order.name %>
                <% end %>
              </td>
              <td>
                <%= order.number.rjust(8, '0') %>
              </td>
              <td>
                <%= order.owner %>
              </td>
              <td>
                <%= order.manager %>
              </td>
              <td>
                <%= order.date_from.strftime("%d-%m-%Y %H:%M") %>
              </td>
              <td>
                <%= order.date_to.strftime("%d-%m-%Y %H:%M") %>
              </td>
              <td>
                <div class="truncate">
                  <%= order.description %>
                </div>
              </td>
              <td>
                <%= link_to 'Generuj PDF', order_pdf_path(order), class: 'btn btn-primary btn-xs' %>
              </td>
              <td>
                <% case order.status %>
                <% when 0 %>
                  <%= link_to order, class: 'btn btn-success btn-xs' do %>
                    Wydaj sprzęt
                  <% end %>
                <% when 1 %>
                  <span class="label label-success"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Wydany</span>
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  // fucus input even if lost
  setTimeout(function () {
      $('input:text')[0].focus();
      $('#filter-input').on('focusout', function () {
          $('input:text')[0].focus();
      })
  }, 500);

  function filterInput() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("filter-input");
      filter = input.value.toUpperCase();
      table = document.getElementById("dttb-items");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          td2 = tr[i].getElementsByTagName("td")[1];
          td3 = tr[i].getElementsByTagName("td")[2];
          td4 = tr[i].getElementsByTagName("td")[3];
          td5 = tr[i].getElementsByTagName("td")[4];
          td6 = tr[i].getElementsByTagName("td")[5];
          td7 = tr[i].getElementsByTagName("td")[6];
          td8 = tr[i].getElementsByTagName("td")[7];
          if (td) {
              txtValue = td.textContent || td.innerText;
              txtValue2 = td2.textContent || td2.innerText;
              txtValue3 = td3.textContent || td3.innerText;
              txtValue4 = td4.textContent || td4.innerText;
              txtValue5 = td5.textContent || td5.innerText;
              txtValue6 = td6.textContent || td6.innerText;
              txtValue7 = td7.textContent || td7.innerText;
              txtValue8 = td8.textContent || td8.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1 ||
                  txtValue2.toUpperCase().indexOf(filter) > -1 ||
                  txtValue3.toUpperCase().indexOf(filter) > -1 ||
                  txtValue4.toUpperCase().indexOf(filter) > -1 ||
                  txtValue5.toUpperCase().indexOf(filter) > -1 ||
                  txtValue6.toUpperCase().indexOf(filter) > -1 ||
                  txtValue7.toUpperCase().indexOf(filter) > -1 ||
                  txtValue8.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
  }



</script>