<!DOCTYPE html>
<html>
<head>
  <title>CamMag</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('box.ico') %>
</head>

<body>
<!-- Page Container -->
<div class="page-container">
  <!-- Page Sidebar -->
  <div class="page-sidebar">
    <a class="logo-box" href="#">
      <span>Harmonogio</span>
      <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
      <i class="icon-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
      <div class="page-sidebar-menu">
        <ul class="accordion-menu">
          <% left_menu_items.each do |menu_item| %>
            <li>
              <%= link_to menu_item[:href] do %>
                <i class="<%= menu_item[:icon] %>" aria-hidden="true"></i>
                <span><%= menu_item[:name] %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div><!-- /Page Sidebar -->

  <!-- Page Content -->
  <div class="page-content animated fadeInUp">
    <div class="page-header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <div class="logo-sm">
              <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
              <a class="logo-box" href="<%= root_path %>>"><span>Harmonogio</span></a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <i class="fa fa-angle-down"></i>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="javascript:void(0)" id="collapsed-sidebar-toggle-button"><i class="fa fa-bars"></i></a></li>
              <li><a href="javascript:void(0)" id="toggle-fullscreen"><i class="fa fa-expand"></i></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div><!-- /Page Header -->
    <%= yield %>

    <% if Rails.env.development? %>
      <%= debug(params) %>
      <%= debug(flash) %>
    <% end %>
  </div>
</div>


</body>

<script>
    toastr.options = {
        closeButton: true,
        debug: false,
        progressBar: true,
        positionClass: 'toast-top-right',
        onclick: null,
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

    <% flash.each do |key, value| %>

    <% case key %>
    <% when 'notice' then %>
    toastr.success('<%=value%>', '<%= t(key) %>');
    <% when 'alert' then %>
    toastr.warning('<%=value%>', '<%= t(key) %>');
    <% when 'error' then %>
    toastr.error('<%=value%>', '<%= t(key) %>');
    <% else %>
    toastr.warning('<%=value%>', '<%= t(key) %>');
    <% end %>
    <% end %>
</script>
</html>
